h1 {
    font-size: xx-large;
    font-family: "Bebas Neue", sans-serif;
}

p{
    text-align: justify;
    font-family: "Poppins", sans-serif;
}

button {
    font-family: "Montserrat", sans-serif;
}
